<% provide(:title, 'Search') %>
    <h1>Search</h1>
    <p>
	Here you can search for Companies or Jobs to see how your Alumni are connected.
    </p>
    <div class="row">
    	<div class="span8 well">
            <form action="jobs" class="form-inline">
                <input type="text" class="input-small" placeholder="Job keyword...">
                <button type="submit" class="btn">Search</button>
            </form>
            <form action="company" class="form-inline">
                <input type="text" class="input-small" placeholder="Company...">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>